#board {
	height: 500px;
	width: 700px;
	background-color: orange;
}

.pile {
	float: left;
	width: 30%;
	height: 100%;
	margin: 5px;
}

.disk {
	width:100%;
	height: 15%;
	background-color: green;
	margin: 5px 0px 5px 0px;
}

#disk1 {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#disk2 {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

#disk3 {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#bottom {
	background-color: blue;
	color: white;
	text-align: center;
	line-height: 40px;
}