#board {
	width: 500px;
	height: 500px;
	background-color: orange;
}

.tile {
	width: 32.5%;
	height: 32.5%;
	line-height: 30%;
	background-color: green;
	border: 1px solid black;
	margin: 1px;
	float: left;
}

p {
	font-size: 100px;
	text-align: center;
}